@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@fontsource/poppins";
@import "@fontsource-variable/figtree";
@import "@fontsource-variable/baloo-2";
@import "@fontsource/material-icons";

@theme {
  --color-blues: #adc4ce;
  --color-forest-100: #cfffdc;
  --color-forest-200: #68ba7f;
  --color-forest-300: #2e6f40;
  --color-forest-400: #253d2c;
  --font-poppins: "Poppins", sans-serif;
  --font-figtree: "Figtree Variable", sans-serif;
  --font-baloo: "Baloo 2 Variable";
  --font-icon: "Material Icons", sans-serif;
}

@layer {
  .active {
    @apply bg-forest-400/80 text-forest-100 backdrop-blur-[2px];
  }
  .nav-item {
    @apply rounded-md px-3 py-2 text-base font-medium transition-colors duration-300 ease-in-out hover:bg-forest-200 hover:text-forest-100;
  }
}
