---
import Layout from "../layouts/Layout.astro"
import Menu from "../components/Menu.astro"
---
<Layout title="About">
    <section >
        <h2>I’m a web developer with a passion for building clean, functional websites that solve real problems. I enjoy working with small businesses and teams that value thoughtful design, solid development, and long-term results.</h2>
    </section>
</Layout>