---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets";
import developerImg from '../assets/desktop.png'
---
<Layout title="About">
    <section class="mt-4 flex flex-col items-center sm:flex-row sm:items-start gap-6 2xl:gap-8 p-10 w-full sm:w-auto h-full">
        <div class="flex items-center h-full">
            <Image src={developerImg}  alt="A person coding at a 2 monitor setup with a window view of nature in the background" class="rounded sm:rounded-2xl"/>
        </div>
        <div class="flex flex-col justify-center gap-4 items-center h-full sm:w-1/2 prose">
            <h2 class="text-forest-400 text-3xl 2xl:text-5xl">Hi I'm <span class="font-semibold">Nicolás</span> a web developer with a passion for building clean, functional websites that solve real problems.</h2>
            <h3 class="text-forest-300 text-2xl 2xl:text-4xl">I enjoy working with small businesses and teams that value thoughtful design, solid development, and long-term results.</h3>
        </div>
    </section>
</Layout>