---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets";
import jaguar from '../assets/jaguar.png';
---
<Layout title="Contact">
    <!-- <section class="flex flex-col items-center justify-center p-4 w-full sm:w-full h-full gap-4"> -->
     <section class="mt-4 flex flex-col items-center justify-center sm:flex-row sm:items-center 2xl:gap-8 w-full sm:w-auto h-full">
        <div class="flex items-center h-full">
            <Image src={jaguar} alt="Vector illustration of a jaguar" class:list={'sm:hidden'}/>
        </div>
       
        <form action="https://formspree.io/f/xqelnwlp" method="post" class="flex flex-col items-center gap-4 p-4 bg-forest-200 [&>div>input]:bg-white/80 w-full sm:w-3/4 sm:rounded-2xl">
        <div class="flex flex-col justify-evenly gap-4 sm:flex-row sm:w-full">
            <div class="flex justify-evenly items-center sm:justify-evenly gap-2 w-full sm:w-1/2">
                <label for="name" class="flex items-center gap-2 text-forest-100 text-2xl sm:w-[10ch]"><span class="font-icon">person</span>Name</label>
                <input type="text" name="name" class="py-1 px-2 text-forest-400 bg-forest-100 rounded-xs w-[25ch] sm:w-full focus:outline-none transition-shadow duration-300 ease-in-out focus:shadow-md focus:shadow-forest-300/50 placeholder:text-forest-300/50" required placeholder="Your name">
            </div>
            <div class="flex justify-evenly items-center sm:justify-evenly gap-2 w-full sm:w-1/2">
                <label for="email" class="flex items-center  gap-2 text-forest-100 text-2xl sm:w-[10ch]"><span class="font-icon">mail</span>email</label>
                <input type="email" name="email" class="py-1 px-2 text-forest-400 bg-forest-100 rounded-xs w-[25ch] sm:w-full focus:outline-none transition-shadow duration-300 ease-in-out focus:shadow-md focus:shadow-forest-300/50 placeholder:text-forest-300/50" required placeholder="Your email address">
            </div>
        </div>
        <div class="flex flex-col justify-evenly gap-2 mt-4 w-full">
            <label for="message" class="flex items-center justify-center gap-2 text-forest-100 text-2xl"> <span class="font-icon">edit_note</span> Message</label>
            <textarea name="message" id="message" rows="5" cols="35" class=" w-full rounded p-4 text-forest-400 bg-forest-100 focus:outline-none transition-shadow duration-300 ease-in-out focus:shadow-md focus:shadow-forest-300/50 placeholder:text-forest-300/50" required placeholder="Tell me about your project..."></textarea>
        </div>
        <div>
            <button class="bg-forest-300 text-forest-100 rounded w-full py-2 px-6 transition-colors duration-300 ease-in-out hover:bg-forest-400/75 hover:cursor-pointer">Send</button>
        </div>
    </form>
    </section>
</Layout>