---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
    <section class="relative mt-4 flex flex-col items-center justify-center p-10 h-full mx-4 ">
        <div class="absolute z-0 mx-2 inset-0 bg-[url('/img/deer.png')] bg-cover bg-center opacity-90 rounded sm:rounded-2xl"/>
        <div class="relative z-10 sm:px-20 h-auto overflow">
            <h1 class="font-poppins text-5xl text-forest-100 text-shadow-xs text-shadow-forest-200 sm:text-7xl sm:w-2/3 font-semibold sm:font-bold">Let's build a website your customers will love.</h1>
        </div>
    </section>
</Layout>
