---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Home">
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta vero officiis cumque voluptas molestiae optio, reiciendis quasi, suscipit commodi deserunt delectus hic voluptatibus possimus voluptates nostrum adipisci corporis accusamus. Repellat?</p>
</Layout>
