---
import Layout from "../layouts/Layout.astro"
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
    {
        title: 'test',
        img: 'https://placehold.co/600x400',
        link: 'https://nicolasfig.github.io/four-card-feature-section-master/',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam obcaecati eveniet sit, tenetur optio architecto excepturi nam possimus perferendis!'
    },
    {
        title: 'test',
        img: 'https://placehold.co/600x400',
        link: 'https://nicolasfig.github.io/four-card-feature-section-master/',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam obcaecati eveniet sit, tenetur optio architecto excepturi nam possimus perferendis!'
    },
    {
        title: 'test',
        img: 'https://placehold.co/600x400',
        link: 'https://nicolasfig.github.io/four-card-feature-section-master/',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam obcaecati eveniet sit, tenetur optio architecto excepturi nam possimus perferendis!'
    },
    {
        title: 'test',
        img: 'https://placehold.co/600x400',
        link: 'https://nicolasfig.github.io/four-card-feature-section-master/',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquam obcaecati eveniet sit, tenetur optio architecto excepturi nam possimus perferendis!'
    }
]

---
<Layout title="Projects">
    <section class="flex flex-col md:grid md:grid-cols-2 gap-6 w-full h-auto py-6 px-8">
        {projects.map(project => <ProjectCard data={project}/>)}
    </section>
</Layout>