---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <header
    class="bg-[url('/img/bg1.jpg')] bg-center w-full h-full bg-cover overflow-hidden flex items-center justify-center"
  >
    <div
      class="bg-blues/30 w-2/3 sm:h-auto backdrop-grayscale-80 p-8 rounded-sm flex items-center"
    >
      <h1
        class="mx-auto max-w-4xl text-5xl font-extrabold tracking-tight text-white sm:text-7xl leading-tight"
      >
        Turning Ideas Into <br class="hidden md:block" />
        <span
          class="text-transparent bg-clip-text bg-linear-to-r from-green-200 via-green-500 to-green-900"
        >
          High-Performance
        </span>
        Web Products.
      </h1>
    </div>
  </header>
</Layout>

<style></style>
