---
import Header from "./Header.astro"
---

<nav class="relative bg-forest-100 font-poppins">
  <div class="max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" command="--toggle" commandfor="mobile-menu" class="relative inline-flex items-center justify-center rounded-md p-2 text-forest-400 hover:bg-forest-200 hover:text-forest-100 focus:outline">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a href="/" class="nav-item rounded-md ">Home</a>
            <a href="/projects" class="nav-item rounded-md ">Projects</a>
            <a href="/about" class="nav-item rounded-md ">About</a>
            <a href="/contact" class="nav-item rounded-md ">Contact</a>
          </div>
        </div>
        <Header/>
    </div>
    </div>
  </div>

  <!-- mobile menu -->
  <el-disclosure id="mobile-menu" hidden class="block sm:hidden">
    <div class="fixed z-20 space-y-1 px-2 pt-2 pb-3 w-full text-center bg-forest-100/80 backdrop-blur-[2px]">
      <a href="/" class=" nav-item block">Home</a>
      <a href="/projects" class=" nav-item block">Projects</a>
      <a href="/about" class=" nav-item block">About</a>
      <a href="/contact" class=" nav-item block">Contact</a>
    </div>
  </el-disclosure>
</nav>

<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
<script>
    document.addEventListener('astro:page-load', () => {
        const nav = document.querySelector('nav');
        if (nav) {
            const navLinks = nav.querySelectorAll('.nav-item');
            navLinks.forEach(link => {
                if (link.getAttribute('href') === window.location.pathname) {
                console.log(link.getAttribute('href'))
                    link.classList.add('active');
                } else {
                    link.classList.remove('active');
                }
            })
        }
    })
</script>