---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <div class="flex justify-center m-12">
        <ul class="flex gap-6">
            <li><a href="/">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Projects</a></li>
        </ul>
    </div>
</Layout>