---
import Layout from "../layouts/Layout.astro";
const navItems = [
  { name: 'Home', href: '/' },
  { name: 'Projects', href: '#projects' },
  { name: 'About', href: '#about' },
];
---
<Layout>

    <nav class="fixed w-full z-50 top-0 bg-blues/50 backdrop-blur-md">
      <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="self-center text-2xl font-bold whitespace-nowrap text-white tracking-tighter">
            nicoweb<span class="text-white">.</span>
          </span>
        </a>
    
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
          
          <button id="menu-toggle" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-slate-100 rounded-lg md:hidden hover:bg-blues focus:outline-none focus:ring-2 focus:ring-green-900/50">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
          </button>
        </div>
    
        <div id="navbar-menu" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
          <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium rounded-lg bg-blues md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">
            {navItems.map((item) => (
              <li>
                <a href={item.href} class="block py-2 px-3 text-slate-100 rounded-sm hover:text-green-900/50 hover:font-bold md:hover:bg-transparent md:p-0 transition-colors">
                  {item.name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </nav>
</Layout>

<script>
  // Simple logic to toggle the mobile menu
  const menuToggle = document.getElementById('menu-toggle');
  const navbarMenu = document.getElementById('navbar-menu');

  menuToggle?.addEventListener('click', () => {
    navbarMenu?.classList.toggle('hidden');
  });
</script>