---
import '../styles/global.css';
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from 'astro:transitions';
interface Props {
    title: string
}

const  {title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="description" content="Freelance web developer portfolio specialized in building optimized landing pages and components"/>
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.png"/>
		<link rel="icon" href="/favicon.ico"/>
		<meta name="generator" content={Astro.generator} />
        <ClientRouter />
		<title>{title}</title>
	</head>
	<body class="w-screen h-screen flex flex-col justify-between bg-forest-100 font-poppins">
        <Menu/>
        <slot/>
        <Footer/>
	</body>
</html>
